<!doctype html>
<html lang="en">

<head>
  <script src="https://unpkg.com/vue@3"></script>
  <script type="module" src="js/app.js" headers="Cache-Control: no-cache" ></script>
  <title>Akash Gaba Resume</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
</head>

<body id="app">
  <div id="header">
    <p id="name">{{name}}</p>
    <p id="profession">{{profession}}</p>
    <div id="contact-information">
      <div id="email">
        <i class="fa fa-envelope-o"></i> {{emails}}
      </div>
      <div id="phone-number">
        <i class="fa fa-mobile-phone"></i> {{phone_numbers}}
      </div>
    </div>
  </div>
  <div class="info">
    <div id="leftSide">
      <div id="top">
        <div class="top-content">
          <div class="leftSide-section-heading">
            EDUCATION
            <hr>
          </div>
          <div class="education-detail-section">
            <div class="education-detail" v-for='education_experience in education_experiences'>
              <div class="education-detail-head">
                <span>
                  <span v-if="education_experience.college">{{education_experience.college}}</span>
                  <span v-else>{{education_experience.school}}</span>, {{education_experience.location}}</span>
                <span>{{education_experience.period}}</span>
              </div>
              <div class="education-detail-body">
                <p v-if="education_experience.course"class="text-align-justify">{{education_experience.course}}</p>
                <p class="justify-content-space-between">
                  <span v-if="education_experience.marks">Marks: {{education_experience.marks}}</span>
                  <span v-if="education_experience.cgpa">CGPA: {{education_experience.cgpa}}</span>
                  <span v-if="education_experience.class"><span v-html="education_experience.class"></span></span>
                  <span v-if="education_experience.degree">Degree: {{education_experience.degree}}</span>
                  <span v-if="education_experience.board">Board: {{education_experience.board}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="bottom">
        <div class="bottom-content">
          <div class="leftSide-section-heading">
            TECHNICAL SKILLS
            <hr>
          </div>
          <div class="technical-skills">
            <div v-for='skill in skills' class="each-skill-type">
              <div class="each-skill-type-heading">
                {{skill.name}}
              </div>
              <div class="skill-names">
                <span v-for='item in skill.items'>{{item}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="rightSide">
      <div class="right-side-contents">
        <div class="right-side-content">
          <div class="right-side-content-heading">
            Work experience
            <hr>
          </div>
          <div class="right-side-content-sections">


            <div class="right-side-content-section" v-for='work_experience in work_experiences'>
              <div class="right-side-content-section-heading">
                <div class="left">
                  <span class="red">{{work_experience.company_name}}</span> ({{work_experience.title}})
                </div>
                <div class="right">{{work_experience.working_range}}</div>
              </div>
              <div class="right-side-content-section-data"
                v-for='project_and_experience in work_experience.project_and_experience'>
                <ul class="align-content-space-between">
                  <li class="inline li padding-zero">
                    <div class="left bigger"><strong>{{project_and_experience.name}}</strong>: {{project_and_experience.brief}}</div>
                  </li>
                  <ul>
                    <li class="li" v-for='experience in project_and_experience.experience'>{{experience}}</li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>


        </div>
        <div class="right-side-content">
          <hr>
          <p>Find My Latest Resume at: <a href="https://akashgaba.github.io/">https://akashgaba.github.io/</a></p>
        </div>
      </div>
    </div>
</body>

</html>